spring:
  datasource:
    url: jdbc:mysql://34.64.88.166:3306/tubeplus
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
#    master:
#      hikari:
#        jdbc-url: jdbc:mysql://34.64.70.212:3307/ssgpoint
#        read-only: false
#        username: ${MASTER_NAME}
#        password: ${MASTER_PW}
#        driver-class-name: com.mysql.cj.jdbc.Driver
#    slave:
#      hikari:
#        jdbc-url: jdbc:mysql://34.64.70.212:3308/ssgpoint
#        read-only: true
#        username: ${SLAVE_NAME}
#        password: ${SLAVE_PW}
#        driver-class-name: com.mysql.cj.jdbc.Driver